header.wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: 1400px) {
    width: calc(100vw - 80px) !important;
  }

  @include mq_tablet {
    display: none;
  }

  img {
    height: 35px;
  }
}
