body {
  background-color: $c_sub;
  overflow-x: hidden;
}

main {
  position: relative;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;

  @media screen and (max-width: 1800px) {
    width: 1500px;
  }

  @include mq_desktop {
    width: 1300px;
  }

  @media screen and (max-width: 1400px) {
    width: calc(100vw - 80px);
  }

  @include mq_tablet {
    width: calc(100vw - 60px);
    padding-left: 30px;
  }

  @include mq_mobile {
    width: calc(100vw - 60px);
    padding-left: 0;
  }
}

section {
  position: relative;

  .section-indicator {
    position: absolute;
    top: 20px;
    left: -118px;
    transform: rotate(-90deg);
    transform-origin: bottom right;

    @media screen and (max-width: 1700px) {
      left: -90px;
    }

    @media screen and (max-width: 1400px) and (min-width: $bp_tablet),
      screen and (max-width: $bp_mobile) {
      transform: none;
      left: 0;
      top: -60px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    @include mq_tablet {
      left: -65px;
    }

    @include mq_mobile {
      top: -40px;
      left: 0;
    }

    .line {
      width: 45px;
      display: block;
      height: 1px;
      background-color: $c_main;
    }

    .text {
      display: block;
      text-transform: uppercase;
      position: absolute;
      right: 70px;
      top: -9px;

      @media screen and (max-width: 1400px) and (min-width: $bp_tablet),
        screen and (max-width: $bp_mobile) {
        position: relative;
        top: auto;
        right: auto;
        margin-left: 25px;
      }
    }
  }
}
