@font-face {
  font-family: "Founders Grotesk";
  src: url("./../fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
    url("./../fonts/FoundersGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("./../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"),
    url("./../fonts/HelveticaNeueLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
