// ----------- COLORS
$c_main: white;
$c_sub: #0a0a0a;

// ----------- FONTS
$f_main: "Founders Grotesk", helvetica, arial, sans-serif;
$f_sub: "Helvetica Neue LT Std", helvetica, arial, sans-serif;

// ----------- BREAKPOINTS
$bp_desktop: 1600px;
$bp_desktop_sm: 1280px;
$bp_tablet: 1024px;
$bp_tablet_sm: 800px;
$bp_mobile: 499px;

// ----------- MISC
$cubic_bezier: cubic-bezier(0.91, 0, 0.09, 1);
