.landing {
  padding-top: 310px;
  position: relative;
  height: calc(100vh - 310px);

  .section-indicator {
    top: 330px;
  }

  @include mq_tablet {
    height: auto;
    margin-top: 30px;
    margin-bottom: 200px;
  }

  img {
    height: 46px;
    position: relative;
    top: 6px;

    @include mq_desktop_sm {
      height: 38px;
    }

    @include mq_mobile {
      height: 30px;
      top: 4px;
    }
  }

  @include mq_mobile {
    .section-indicator {
      display: none;
    }
  }
}

.projects {
  ul {
    li {
      &:not(:last-child) {
        padding-bottom: 60px;
        margin-bottom: 60px;
        border-bottom: 1px solid $c_main;

        @include mq_tablet {
          padding-bottom: 40px;
          margin-bottom: 40px;
        }
      }

      a {
        text-decoration: none;
        display: grid;
        grid-template-columns: 800px 368px 384px auto;
        position: relative;

        @include mq_desktop {
          grid-template-columns: 2fr 1fr 1fr;
        }

        @include mq_tablet {
          grid-template-columns: 1fr;
          row-gap: 20px;
        }

        .project-number {
          position: relative;
          bottom: 20px;
          left: 10px;

          @include mq_mobile {
            bottom: 8px;
            left: 6px;
          }
        }

        img {
          height: 44px;
          position: absolute;
          right: 0;
          top: -5px;

          @include mq_tablet {
            height: 34px;
          }

          @include mq_mobile {
            position: relative;
            top: auto;
            right: auto;
          }
        }

        .coming-soon {
          position: absolute;
          right: 0;
          top: 0;

          @include mq_mobile {
            position: relative;
            top: auto;
            right: auto;
          }
        }

        &[disabled] {
          pointer-events: none;
        }
      }
    }
  }
}

.contact {
  margin-top: 400px;
  display: flex;
  justify-content: space-between;

  @include mq_tablet {
    margin-top: 300px;
  }

  @include mq_tablet_sm {
    flex-direction: column;
  }

  @include mq_mobile {
    margin-top: 200px;
  }

  .title {
    img {
      height: 45px;
      position: relative;
      left: 14px;
      top: 5px;

      @include mq_desktop_sm {
        height: 38px;
      }

      @include mq_mobile {
        height: 30px;
        left: 10px;
      }
    }
  }

  &__infos {
    display: flex;
    padding-top: 36px;
    border-top: 1px solid $c_main;
    justify-content: space-between;
    width: 800px;
    position: relative;
    top: 10px;

    @include mq_desktop {
      flex: 1;
      margin-left: 60px;
    }

    @include mq_desktop_sm {
      flex-wrap: wrap;
    }

    @include mq_tablet_sm {
      flex-direction: column;
      margin-left: 0;
      border-top: none;
    }

    li {
      &:not(:last-child) {
        padding-right: 20px;

        @include mq_tablet_sm {
          padding-right: 0;
          margin-bottom: 15px;
        }
      }
      a {
        color: $c_main;
      }
    }
  }
}
